<div class="jumbotron text-center">
    <h1>About Moose</h1>    
</div>

<p>This horse-sized animal is the largest member of the deer family with long, dark brown hair and high, long legs. A drooping growth of hair and skin, called a bell, hangs from the throat. Their large moving ears act like radar, providing excellent hearing. A large should hump is formed by the upward projections from neck vertebrae. Each April, the male (bull) moose grows a set of antlers which can grow to be 5 feet which he loses in the winter after rutting season.</p>

<p>An adult moose averages 1000 pounds and stands 6 feet at the shoulder. Some moose weigh over 1,500 lbs.As North America 's largest wild animal, moose have keen senses of smell and hearing, but they're also near-sighted. Their front legs are longer than their hind legs, allowing them to jump over fallen trees in the forest. Once in the water, moose move easily and are powerful swimmers. During the winter, moose can easily navigate through snow that is 3 to 4 feet deep. Moose are the most comfortable in frigid climates. </p>

<p>Moose are generally solitary animals, although they may band in small groups of up to a dozen or more during the breeding season. Both females and males are capable of mating in their second year. During mating, bulls battle for the female moose, engaging in antler fights with other bull moose. The covering on bull moose's antlers called "velvet" is shed prior to breeding season to expose their large bone racks underneath. The breeding season or rut runs from mid-September through mid-October. In the northeast, moose don't form permanent pair bonds. The bull stays with the cow only long enough to breed, then he leaves in pursuit of another cow. Bull moose don't feed during the rut and lose considerable weight. After mating season, bull moose may be seen together fattening up for the upcoming winter.</p>

<p>After mating, gestation is around 230 days, with most calves born in the month of May. Cows usually bear one offspring, although twins are common. Calves have reddish-brown coats and weigh 25 to 35 pounds at birth. The average life span of a moose is 5 to 6 years, although some moose can live as long as 20 years.</p>

<p>Despite their size, moose can run up to speeds of 36 mph. Moose fall prey to wolves and bears. Studies have shown that bears can kill up to 75% of newborn moose calves in their first 8 weeks of life. After 8 weeks, calves are able to outmaneuver a bear.
</p>

<div class="jumbotron text-center">
    <h1>What Moose Eat</h1>    
</div>

<p>Moose feeding habits vary with the seasons. Moose primarily feed on leaves, twigs and buds of hardwood and softwood trees and shrubs. A healthy moose will eat 40-60 pounds of vegetation per day. During the fall, winter and spring, they feed on the previous summer's growth of aspen, black poplar, willow, birch, hazel, dogwood and balsam fir. In late spring and early summer, moose lick natural salt deposits, found in salt springs or roadside runoff to replenish their mineral reserves used up during the harsh winters in Maine . In summer, moose feed on sodium-rich aquatic vegetation. They can submerge for up to 45 seconds to reach plants beneath the water's surface. Cows also prefer to keep their calves near water as an escape route for their calves. Ponds are used by both bull and cow moose to escape black flies.</p>

<p>Areas that provide large amounts of nutritious vegetation benefit moose. Forest fires induce significantly more nutritious re-growth that by forest cut down by chain saw. In the absence of fire, clear-cuts are the next best alternative for moose. Large clear cuts (more than 100 acres) don't benefit moose as much as smaller, dispersed cuts. Islands of uncut softwood and hardwood with large clear-cuts are used by moose during the winter. A mixture of upland mature mixed wood, regenerating clear-cuts or burned areas and wetlands offer good moose habitat.</p>