<div class="col-md-10">
	<div class="container-fluid">

		<div class="page-header">
			<h1>Fun Fall Activities</h1>
		</div>

		<div class="col-md-4 col-xs-6">
			<div class="thumb">
				<img src="http://placehold.it/500x500">
			</div>
			<h3>Activity</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
			<a href="javascript:void(0)">www.site.url</a>
		</div>

		<div class="col-md-4 col-xs-6">
			<div class="thumb">
				<img src="http://placehold.it/500x500">
			</div>
			<h3>Activity</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
			<a href="javascript:void(0)">www.site.url</a>
		</div>

		<div class="col-md-4 col-xs-6">
			<div class="thumb">
				<img src="http://placehold.it/500x500">
			</div>
			<h3>Activity</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
			<a href="javascript:void(0)">www.site.url</a>
		</div>

		<div class="col-md-4 col-xs-6">
			<div class="thumb">
				<img src="http://placehold.it/500x500">
			</div>
			<h3>Activity</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
			<a href="javascript:void(0)">www.site.url</a>
		</div>

		<div class="col-md-4 col-xs-6">
			<div class="thumb">
				<img src="http://placehold.it/500x500">
			</div>
			<h3>Activity</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
			<a href="javascript:void(0)">www.site.url</a>
		</div>

		<div class="col-md-4 col-xs-6">
			<div class="thumb">
				<img src="http://placehold.it/500x500">
			</div>
			<h3>Activity</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
			<a href="javascript:void(0)">www.site.url</a>
		</div>

		<div class="col-md-4 col-xs-6">
			<div class="thumb">
				<img src="http://placehold.it/500x500">
			</div>
			<h3>Activity</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
			<a href="javascript:void(0)">www.site.url</a>
		</div>

		<div class="col-md-4 col-xs-6">
			<div class="thumb">
				<img src="http://placehold.it/500x500">
			</div>
			<h3>Activity</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
			<a href="javascript:void(0)">www.site.url</a>
		</div>

	</div>
</div>